*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#ffffff;   /* light clean grey instead of pure white */
    margin: 0;
    padding: 0;
}
/* =========================
   PHONE CONTAINER
========================= */
.app {
    width: 100%;
    min-height: 100vh;
    background: #f4f6fb;
    padding: 0;
    margin: 0;
    display: block;   /* 🔥 remove flex centering */
}

.product-page {
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    background: #ffffff;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 0; /* 🔥 remove card look */
}
/* =========================
   IMAGE WRAPPER
========================= */

.image-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
    padding: 10px;
    border-radius: 12px;
}

/* =========================
   BIG PRODUCT IMAGE
========================= */

.big-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    background: #fff;
}

/* =========================
   PRODUCT NAME
========================= */

#productName{
    font-size:35px;
    font-weight:bold;
    color:#111;
    margin-top: 6px;
    margin-bottom: 2px;
    width:100%;
    text-align:center;
    text-transform:capitalize;
}

/* =========================
   PRICE
========================= */

#productPrice{
    font-size:27px;
    font-weight:bold;
    color:#fd2121;
    margin-top: 0;
    margin-bottom: 2px;
    width:100%;
    text-align:center;
}

/* =========================
   BUY BUTTON
========================= */

.buy-btn{
    width:100%;
    max-width: 340px;
    margin: 7px auto 0;
    border:none;
    background:#055a24;
    color:white;
    padding:18px;
    border-radius:12px;
    font-size:29px;
    font-weight:bold;
    cursor:pointer;
    margin-top:10px;
}

/* =========================
   MOBILE
========================= */

@media(max-width:480px){

    .product-page{
        padding:20px 14px;
    }

    #productName{
        font-size:20px;
    }

    #productPrice{
        font-size:16px;
    }
}